@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh; /* ocupar 100% da tela, vh=viewport height = altura da tela */
    box-sizing: border-box; /* faz com que elementos nn saiam do body */
    background-color: #000;
    color: #F6F6F6;
}

.titulo-destaque{
    color: #22D4FD;
}

.container{
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.container__textos{
    gap: 40px;
    display: flex;
    flex-direction: column;
    width: 615px;
}

.container__textos__titulo{
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
}

.container__textos__paragrafo{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}

.container__links{
    display: flex;
    justify-content: space-between;
}

.container__links__link{
    text-decoration: none;
    background-color: #22D4FD;
    color: #000;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding:  21.5px 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}
